[user]
	name = janus_wel
	email = janus.wel.3@gmail.com
[color]
	pager = true
	status = auto
	branch = auto
	diff = auto
[sendemail]
	smtpserver = /usr/bin/msmtp
[alias]
	co = checkout
[core]
	pager = less -R
