.config/gh/hosts.yml
.config/karabiner/automatic_backups
.config/nvim/bundle

.config/vim/backup
.config/vim/bundle
.config/vim/view
.config/zsh/.zcompdump
.config/zsh/.zsh_history
.config/zsh/.zsh_sessions
