[user]
    name = janus_wel
    email = janus.wel.3@gmail.com
[color]
    pager = true
    status = auto
    branch = auto
    diff = auto
[alias]
    co = checkout
    graph = log --graph --all --oneline --decorate
[core]
    pager = less -R
