.vim/backup
.vim/bundle
.vim/view
.config/nvim/bundle
.config/anyenv
.config/karabiner/automatic_backups

bin/docker
bin/docker-compose
bin/docker-credential-osxkeychain
bin/kubectl
bin/orb
bin/orbctl
