[user]
    name = janus_wel
    email = janus.wel.3@gmail.com
[color]
    pager = true
    status = auto
    branch = auto
    diff = auto
[alias]
    a = add
    b = branch
    c = commit
    d = diff
    f = fetch
    l = log
    r = rebase
    s = status
    pom = push origin master
    co = checkout
    graph = log --graph --all --oneline --decorate
    overwrite = push --force-with-lease
[core]
    pager = less -R
    excludesfile = ~/.gitignore
[merge]
	ff = false
