<!DOCTYPE html>

<html lang="ja">
<head>
  <meta charset="UTF-8">

  <meta name="author" content="janus_wel">
  <link rel="author" href="http://example.com/author/">

  <meta name="description" content="HTML5 template">
  <meta name="keywords" content="keywords,for,this,page">
  <link rel="icon" href="images/favicon.ico">

  <link rel="prev" href="http://example.com/">
  <link rel="next" href="http://example.com/">

  <link rel="stylesheet" href="styles/main.css" media="all">

  <script src="scripts/main.js"></script>

  <title>HTML5 template</title>
</head>

<body>
  <h1>HTML5 template</h1>

  <p>contents</p>
</body>
</html>
