<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta name="description" content="contents" />
  <meta name="author" content="janus_wel" />
  <link rev="Made" href="mailto:janus.wel.3@gmail.com" />
  <link rel="Contents" href="URL" />
  <link rel="Index" href="URL" />
  <link rel="Parent" href="URL" />
  <link rel="Start" href="URL" />
  <link rel="Next" href="URL" />
  <link rel="Prev" href="URL" />

  <title>title</title>
</head>

<body>
  <h1>title</h1>

  <p>contents</p>
</body>
</html>
