<!DOCTYPE html>

<html lang="ja">
<head>
  <meta charset="UTF-8">

  <meta name="author" content="janus_wel">
  <link rel="author" href="http://example.com/author/">

  <meta name="description" content="HTML5 template">
  <meta name="keywords" content="keywords,for,this,page">
  <link rel="icon" href="images/favicon.ico">

  <link rel="prev" href="http://example.com/">
  <link rel="next" href="http://example.com/">

  <link rel="stylesheet" href="styles/main.css" media="all">

  <script src="http://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.8/require.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
  <script src="scripts/main.js"></script>

  <title>HTML5 template</title>
</head>

<body>
  <header>
    <h1>HTML5 template</h1>
    <p>subtitle</p>
  </header>

  <article>
    <header>
      <h1>Today's incidents</h1>
    </header>

    <section>
      <h1>HTML Tidy has supported for HTML5: I wish.</h1>
      <p>nice troll.</p>
      <svg xmlns="http://www.w3.org/2000/svg" width="64px" height="64px">
        <circle cx="31" cy="31" r="27" fill="black" stroke="black" />
        <circle cx="46" cy="31" r="13" fill="white" stroke="white" />
      </svg>
    </section>

    <section>
      <h1>This is the definitive edition for HTML5 Vim syntax!</h1>
      <p>Where is it?</p>
      <table>
        <thead>
          <tr>
            <th>abc</th> <th>def</th> <th>ghi</th>
            <th>jkl</th> <th>mno</th> <th>pqr</th>
            <th>stu</th> <th>vwx</th> <th>yz</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td> <td>2</td> <td>3</td>
            <td>4</td> <td>5</td> <td>6</td>
            <td>7</td> <td>8</td> <td>9</td>
          </tr>
          <tr>
            <td>1</td> <td>2</td> <td>3</td>
            <td>4</td> <td>5</td> <td>6</td>
            <td>7</td> <td>8</td> <td>9</td>
          </tr>
          <tr>
            <td>1</td> <td>2</td> <td>3</td>
            <td>4</td> <td>5</td> <td>6</td>
            <td>7</td> <td>8</td> <td>9</td>
          </tr>
          <tr>
            <td>1</td> <td>2</td> <td>3</td>
            <td>4</td> <td>5</td> <td>6</td>
            <td>7</td> <td>8</td> <td>9</td>
          </tr>
          <tr>
            <td>1</td> <td>2</td> <td>3</td>
            <td>4</td> <td>5</td> <td>6</td>
            <td>7</td> <td>8</td> <td>9</td>
          </tr>
        </tbody>
      </table>
    </section>

    <section>
      <h1>HTML5 + CSS3 is awesome!</h1>
      <p>I think this is true with a serious mind.</p>
      <ul class="table-like-list">
        <li>01</li> <li>02</li> <li>03</li> <li>04</li>
        <li>05</li> <li>06</li> <li>07</li> <li>08</li>
        <li>09</li> <li>10</li> <li>11</li> <li>12</li>
      </ul>
    </section>

    <footer>
      <a href="2013/08/01/0001">permalink</a>
      <time datetime="2013-08-01 12:00">2013 年 8 月 1 日 12:00</time>
      by <address>janus_wel</address>
    </footer>
  </article>

  <footer>
    <nav>
      <ul>
        <li><a href="index.html">top</a></li>
        <li><address><a href="about.html">about</a></address></li>
      </ul>
    </nav>
  </footer>
</body>
</html>
